* {
	padding: 0;
	margin: 0;
}
::selection {
	background: none;
}
::-moz-selection {
	background: none;
} 
body {
	padding: 40px;
	text-align: center;
	background-color: black;
	cursor: default !important;
}
h1 {
	color: white;
	font-size: 80px;
}
table {
	border: 1px solid black;
	overflow: hidden;
}
table {
	margin: auto;
	border-radius: 80px;
}
td {
	padding: 60px 80px;
	border: 4px solid black;
	font-size: 60px;
}
.gameActive .button {
	transition: border .1s ease-in-out;
}
.gameActive .button:hover {
	border: 4px solid white;
}
#one {
	background-color: green;
	border-top-left-radius: 80px;
}
.gameActive #one:active, .gameActive #two:active, .gameActive #thr:active, .gameActive #fr:active {
	background-color: white;
}
#two {
	background-color: red;
	border-top-right-radius: 80px;
}
#thr {
	background-color: yellow;
	border-bottom-left-radius: 80px;
}
#fr {
	background-color: blue;
	border-bottom-right-radius: 80px;
}