* {
	margin: 0;
	padding: 0;
}
@keyframes rotateLoader {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes plusPulse {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(.8);
	}
}
@keyframes bloodSplat {
	0%, 100% {
		transform: scale(.3);
	}
	50% {
		transform: scale(1.2);
	}
}

body {
	padding: 20px;
	font-size: calc(8px + 2vw);
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}
#volSlider {
	width: 50%;
}
table {
	width: 100%;
	border-collapse: collapse;
}
.loader {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.loader div {
	width: 200px;
	height: 200px;
	border: 20px solid #000;
	border-radius: 50%;
	border-color: #000 #800;
	animation: rotateLoader 1s cubic-bezier(.4, .1, .2, 1) infinite;
}
#flash {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .2;
	visibility: hidden;
	z-index: 10;
}
.plus {
	animation: plusPulse .4s infinite linear;
}
.blood {
	animation: bloodSplat .4s linear;
}
.inventory {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	color: #fff;
	z-index: 10;
	overflow-y: scroll;
}
.inventory button {
	position: absolute;
	top: 40px;
	right: 40px;
	font-size: 1em;
}
#inventory {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}
#inventory li {
	display: inline-block;
	margin: 15px 0;
}
#inventory li:hover {
	text-decoration: underline;
	color: #9f9;
	cursor: pointer;
}
button {
	border: none;
	outline: none;
	background-color: #999;
	font-size: 1em;
	color: #000;
	padding: 5px;
	cursor: pointer;
}
button:hover {
	background-color: #444;
}
ul {
	list-style-type: none;
}
#volText {
	display: inline;
}
.startMenu input {
	font-size: 1em;
}
input[type="checkbox"] {
	transform: scale(1.5);
}
.stats p {
	display: inline;
}
.gamepad li {
	display: inline-block;
	margin: 10px;
	padding: 20px;
	border: 4px solid #000;
	background-color: #000;
	position: relative;
	color: #fff;
	transition: all .2s;
}
.gamepad li:hover {
	cursor: pointer;
	color: black;
}
#explore:hover {
	background-color: #7d3cb5;
}
#eat:hover {
	background-color: #b21f35;
}
#drink:hover {
	background-color: #ffcb35;
}
#medicine:hover {
	background-color: #009e47;
}
#sleep:hover {
	background-color: #06a9fc;
}
@media screen and (max-width: 800px) {
	.gamepad li {
		display: block;
		padding: 10px;
	}
}